.About {
  margin: 25px;
  color: rgb(0, 112, 112);

  font-family: b titr;
  text-align: center;
}
.Titr0 {
  text-align: right;
  font-family: b yekan;
  font-size: 20spx;
  direction: rtl;
}
.Titr1 {
  font-family: b yekan;
  font-weight: bold;
  font-size: 20px;
  direction: rtl;
}
.Titr2 {
  font-family: b yekan;
  font-size: 18px;
  direction: rtl;
}
.Titr3 {
  font-family: b yekan;
  font-size: 17px;
  direction: rtl;
}
.rounded-c {
  border-radius: 60px 0px 0px 0px;
}
.rounded-cc {
  border-radius: 0px 0px 60px 0px;
}
